In [1]:
# !kaggle competitions list
# !kaggle competitions download -c tabular-playground-series-jan-2022
# !unzip tabular-playground-series-jan-2022

In [2]:
import pandas as pd


train = pd.read_csv('train.csv')
train

       row_id        date  country       store         product  num_sold
0           0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1           1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2           2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3           3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4           4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...       ...         ...      ...         ...             ...       ...
26293   26293  2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   26294  2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   26295  2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   26296  2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   26297  2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 6 columns]

In [3]:
1e10

10000000000.0

In [4]:
train

       row_id        date  country       store         product  num_sold
0           0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1           1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2           2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3           3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4           4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...       ...         ...      ...         ...             ...       ...
26293   26293  2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   26294  2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   26295  2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   26296  2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   26297  2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 6 columns]

In [8]:
!kaggle competitions files -c tabular-playground-series-jan-2022

name                    size  creationDate
---------------------  -----  -------------------
sample_submission.csv   64KB  2021-12-30 15:50:41
train.csv                1MB  2021-12-30 15:50:41
test.csv               306KB  2021-12-30 15:50:41